body {
    font-family: Spectral, serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    /* height: 100vh; */
    background-color: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);
    padding: 1em;
    border-radius: 0.5em;
}

#greeting {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

#datetime {
    font-size: 1em;
    text-align: center;
    margin-bottom: 20px;
}

#weather {
    font-size: 1em;
    text-align: center;
}